{% load teams %}
<tr>
  <td>
    <a href="{% url 'team-detail' pk=value.0 %}">{{ key }}</a>
    {% if not user.is_anonymous %}
        {% if value.3 == 20 %}
            (<a href="{% url 'team-edit' pk=value.1 %}">Admin</a>)
        {% endif %}
    {% endif %}
  </td>
  <td>{% if value.2 %}{{ value.2|truncatewords:15 }}{% endif %}</td>
  <td>{{ value.4 }}</td>
  <td>{{ value.3 }}</td>
  <td>
  {% if not user.is_anonymous %}
              {% if value.5 == 0 %}
                  <a href="{% url 'teamstatus-create' team_pk=value.1 %}">Join</a>
              {% elif value.5 == 1 %}
                  Pending approval
              {% elif value.5 == 10 %}
                  Member
              {% elif value.5 == 20 %}
                  Teacher (<a href="{% url 'team-edit' pk=value.1 %}">Admin</a>)
              {% endif %}
      {% else %}
          You're not logged in!
      {% endif %}
  </td>
</tr>