{% extends 'base.html' %}
{% load teams %}

{% block page-header %}
<h1>{{ object }} <small>admin page</small></h1>
{% endblock %}

{% block content %}

    <form class="form-horizontal" method="post" action="{% url 'team-edit' pk=object.pk %}">

    {% for f in form %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ f.prefix|capfirst }}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-1 control-label">Action</label>
                <div class="col-sm-11">
                    {{ f.action }}
                </div>
            </div>
            <div class="user-list">
            {{ f.items }}
            </div>
            <button type="submit" class="btn btn-primary">Submit all changes</button>
        </div>
    </div>
    {% endfor %}

    {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit all changes</button>
    </form>
{% endblock %}
